0 3 * * * root find -L /var/www/static -type f,l -mtime +30 -name "*" -print -delete >> /var/www/static/remove_30days_file.log.txt 2>&1
5 3 * * * root find -L /var/www/static -type d -empty -print -delete >> /var/www/static/remove_empty_dir.log.txt 2>&1
20 3 * * * root du -sh /var/www/static >> /var/www/static/full_size.txt 2>&1
0 2 * * * root echo $(date +"\%Y-\%m-\%d_\%H-\%M-\%S") work >> /var/www/static/cron.log.txt 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job
